{% extends "core/base.html" %}

{% block content %}
<div 
    hx-get="/navbar/"
    hx-trigger="load"
    hx-swap="innerHTML"
    id="navbar_container"
    >
</div>

<div class="flex flex-col items-center justify-center min-h-screen bg-gray-100 space-y-8">
    <div class="bg-white shadow-lg rounded-xl p-8 space-y-8">
        <div class="bg-blue-500 text-white px-4 py-2 rounded">
        <h1 class="text-lg font-semibold">
            {% if request.session.employee_type %} {{request.session.employee_type}} Functions {% endif %}
        </h1>
    </div>
  <div class="flex gap-4">
    <div class="bg-green-300 text-gray-900 hover:bg-green-500 shadow-md rounded-lg p-4 w-40 text-center">
      <a href="/display_annotation/">View Annotations</a>
    </div>
    <div class="bg-green-300 text-gray-900 hover:bg-green-500 shadow-md rounded-lg p-4 w-40 text-center">
      <a href="/display_note/">View Notes</a>
    </div>
    <div class="bg-green-300 text-gray-900 hover:bg-green-500 shadow-md rounded-lg p-4 w-40 text-center">
      <a href="/display_flag/">View Flagged</a>
    </div>
    <div class="bg-green-300 text-gray-900 hover:bg-green-500 shadow-md rounded-lg p-4 w-40 text-center">
      <a href="/display_employee/">View Employees</a>
    </div>
    <div class="bg-green-300 text-gray-900 hover:bg-green-500 shadow-md rounded-lg p-4 w-40 text-center">
      <a href="/register/">Add Employees</a>
    </div>
  </div>

  <div class="flex gap-6">
    <div 
        hx-get="/underpayment/"
        hx-trigger="load"
        hx-swap="innerHTML"
        id="underpayment_display"
        class="text-black font-semibold bg-blue-100 shadow-md rounded-lg p-4 w-full text-center"
        ></div>
    <div 
        hx-get="/flag_count/"
        hx-trigger="load"
        hx-swap="innerHTML"
        id="flag_count_display"
        class="text-black font-semibold bg-blue-100 shadow-md rounded-lg p-4 w-full text-center"
        ></div>
    </div>
  </div>

</div>
{% endblock %}
