<div x-data>
  <div class="flex gap-4">
    <div class="w-[1150px] h-[550px] overflow-auto border rounded shadow ml-3 mt-6">
      <table class="table-auto min-w-full"> 
        <thead>
          <tr>
            <th class="sticky top-0 bg-blue-500 text-white px-3 py-2 text-left">ID</th>
            <th class="sticky top-0 bg-blue-500 text-white px-3 py-2 text-left">Name</th>
            <th class="sticky top-0 bg-blue-500 text-white px-3 py-2 text-left">Billed Amount</th>
            <th class="sticky top-0 bg-blue-500 text-white px-3 py-2 text-left">Paid Amount</th>
            <th class="sticky top-0 bg-blue-500 text-white px-3 py-2 text-left">Status</th>
            <th class="sticky top-0 bg-blue-500 text-white px-3 py-2 text-left">Insurer Name</th>
            <th class="sticky top-0 bg-blue-500 text-white px-3 py-2 text-left">Discharge Date</th>
            <th class="sticky top-0 bg-blue-500 text-white px-3 py-2 text-left">Actions</th>
          </tr>
        </thead>
        <tbody>
          {% for claim in claims %}
          <tr class="border-t bg-white" data-claim-id="{{claim.id}}">
            <td class="px-3 py-2">{{ claim.id }}</td>
            <td class="px-3 py-2">{{ claim.patient_name }}</td>
            <td class="px-3 py-2">${{ claim.billed_amount }}</td>
            <td class="px-3 py-2 
              {% if claim.billed_amount == claim.paid_amount %}text-green-600 border-green-400/50 bg-green-100
              {% elif claim.paid_amount > 0 %}text-yellow-600 border-yellow-400/50 bg-yellow-100
              {% else %}text-red-600 border-red-400/50 bg-red-100
              {% endif %}
            ">${{ claim.paid_amount }}</td>
            <td class="px-3 py-2
              {% if claim.status == 'Paid' %}text-emerald-700 border-emerald-400/50 bg-emerald-100
              {% elif claim.status == 'Under Review' %}text-cyan-700 border-cyan-400/50 bg-cyan-100
              {% else %}text-rose-700 border-rose-400/50 bg-rose-100
              {% endif %}
            ">{{ claim.status }}</td>
            <td class="px-3 py-2">{{ claim.insurer_name }}</td>
            <td class="px-3 py-2">{{ claim.discharge_date }}</td>
            <td>
              <div class="flex items-center gap-2">
                <button class="viewButton note-marker px-3 py-1 rounded border-2 border-solid border-black hover:bg-green-200" 
                  data-claim-id="{{claim.id}}"
                  hx-target="#detail_response"
                  hx-get="/search_detail/{{claim.id}}/"
                  hx-swap="innerHTML"
                >
                  <svg class="viewIcon w-5 h-5" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M12 9C10.3431 9 9 10.3431 9 12C9 13.6569 10.3431 15 12 15C13.6569 15 15 13.6569 15 12C15 10.3431 13.6569 9 12 9ZM11 12C11 11.4477 11.4477 11 12 11C12.5523 11 13 11.4477 13 12C13 12.5523 12.5523 13 12 13C11.4477 13 11 12.5523 11 12Z" fill="#000000"/>
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M21.83 11.2807C19.542 7.15186 15.8122 5 12 5C8.18777 5 4.45796 7.15186 2.17003 11.2807C1.94637 11.6844 1.94361 12.1821 2.16029 12.5876C4.41183 16.8013 8.1628 19 12 19C15.8372 19 19.5882 16.8013 21.8397 12.5876C22.0564 12.1821 22.0536 11.6844 21.83 11.2807ZM12 17C9.06097 17 6.04052 15.3724 4.09173 11.9487C6.06862 8.59614 9.07319 7 12 7C14.9268 7 17.9314 8.59614 19.9083 11.9487C17.9595 15.3724 14.939 17 12 17Z" fill="#000000"/>
                  </svg>
                </button>
                <button 
                  class="flagButton px-3 py-1 rounded border-2 border-solid border-black hover:bg-green-200" 
                  hx-post="/toggle_flag/{{claim.id}}/"
                  hx-headers='{
                    "X-CSRFToken": "{{ csrf_token }}",
                    "Accept": "application/json"
                  }'
                  hx-trigger="click"
                  hx-swap="none"
                  data-claim-id="{{claim.id}}"
                >
                  <svg class="flagIcon w-5 h-5 transition-colors duration-200" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path class="flagPath" d="M5 22V14M5 14V4M5 14L7.47067 13.5059C9.1212 13.1758 10.8321 13.3328 12.3949 13.958C14.0885 14.6354 15.9524 14.7619 17.722 14.3195L17.8221 14.2945C18.4082 14.148 18.6861 13.4769 18.3753 12.9589L16.8147 10.3578C16.4732 9.78863 16.3024 9.50405 16.2619 9.19451C16.2451 9.06539 16.2451 8.93461 16.2619 8.80549C16.3024 8.49595 16.4732 8.21137 16.8147 7.64221L18.0932 5.51132C18.4278 4.9536 17.9211 4.26972 17.2901 4.42746C15.8013 4.79967 14.2331 4.69323 12.8082 4.12329L12.3949 3.95797C10.8321 3.33284 9.1212 3.17576 7.47067 3.50587L5 4M5 4V2" stroke="#1C274C" stroke-width="1.5" stroke-linecap="round"
                      style="fill: {% if claim.id in flagged %}red{% else %}none{% endif %};"
                    />
                  </svg>
                </button>
              </div>
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>

    <div 
      id="detail_response" 
      class="flex-1 border rounded shadow p-0 mr-3 mt-6 w-full" 
      x-show="$store.claimState.selectedClaimID !== null"
      hx-on:error="window.location.href='/'"
      ></div>

  </div>

  <div class="flex gap-4 mt-4" x-show="$store.claimState.selectedClaimID !== null"
      x-init="$watch('$store.claimState.selectedClaimID', async (id) => {
      if (id) {
        const responseNote = await fetch(`/get_note/${id}/`,{
          headers: { 'HX-Request': 'true' }
        });
        const dataNote = await responseNote.json();
        $store.claimState.noteContent = dataNote.note || '';

        const responseAnnotation = await fetch(`/get_annotation/${id}/`, {
          headers: { 'HX-Request': 'true' }
        });
        const dataAnnotation = await responseAnnotation.json();
        $store.claimState.annotationContent = dataAnnotation.annotation || '';
      }
    })
  "
  >
    <div class="flex-1 border rounded shadow ml-3 bg-white" x-data="{isEditingNote: false}">
      <form
        hx-post="/save_note/"
        hx-params="*"
        hx-trigger="submit"
        hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'
        hx-swap="none"
      >
        <div class="flex items-center justify-between mb-2 bg-blue-500 text-white px-4 py-2 rounded-t">
          <h2 class="text-lg font-semibold">
            Notes - <span x-text="$store.claimState.selectedClaimID"></span> - <span x-text="$store.claimState.selectedPatientName"></span>
          </h2>  
          <button 
            class="px-3 py-1 rounded border-2 border-orange-300 hover:border-orange-200 bg-orange-300 hover:bg-orange-200 transition-colors text-gray-900 duration-200"
            type="button"
            x-show="!isEditingNote"
            @click="isEditingNote = true"
          >Edit</button>
          <button 
            class="px-3 py-1 rounded border-2 border-green-300 hover:hover-green-200 bg-green-300 hover:bg-green-200 transition-colors text-gray-900 duration-200"
            x-show="isEditingNote"
            type="submit"
            @click="isEditingNote = false"
          >Save</button>
        </div>

        <div class="p-4">
          <textarea 
            class="w-full h-32 p-2 border rounded resize-none" placeholder="Enter notes here..."
            :readonly="!isEditingNote"
            name="noteContent"
            x-model="$store.claimState.noteContent"
          ></textarea>
          <input type="hidden" name="selectedClaimID" :value="$store.claimState.selectedClaimID">
          <input type="hidden" name="selectedEmployeeID" :value="$store.claimState.selectedEmployeeID">
          <input type="hidden" name="noteContent" :value="$store.claimState.noteContent">
        </div>
      </form>
    </div>


    <div class="flex-1 border rounded shadow ml-3 bg-white" x-data="{isEditingAnnotation: false}">
      <form
        hx-post="/save_annotation/"
        hx-params="*"
        hx-trigger="submit"
        hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'
        hx-swap="none"
      >
        <div class="flex items-center justify-between mb-2 bg-blue-500 text-white px-4 py-2 rounded-t">
          <h2 class="text-lg font-semibold">
            Annotations - Claim ID: <span x-text="$store.claimState.selectedClaimID"></span> - Patient: <span x-text="$store.claimState.selectedPatientName"></span>
          </h2>
          <button 
            class="px-3 py-1 rounded border-2 border-orange-300 hover:border-orange-200 bg-orange-300 hover:bg-orange-200 transition-colors text-gray-900 duration-200"
            type="button"
            x-show="!isEditingAnnotation"
            @click="isEditingAnnotation = true"
          >Edit</button>
          <button 
            class="px-3 py-1 rounded border-2 border-green-300 hover:hover-green-200 bg-green-300 hover:bg-green-200 transition-colors text-gray-900 duration-200"
            x-show="isEditingAnnotation"
            type="submit"
            @click="isEditingAnnotation = false;"
          >Save</button>
        </div>

        <div class="p-4">
          <textarea 
            class="w-full h-32 p-2 border rounded resize-none" placeholder="Enter annotations here..."
            :readonly="!isEditingAnnotation"
            name="annotationContent"
            x-model="$store.claimState.annotationContent"
          ></textarea>
          <input type="hidden" name="selectedClaimID" :value="$store.claimState.selectedClaimID">
          <input type="hidden" name="selectedEmployeeID" :value="$store.claimState.selectedEmployeeID">
          <input type="hidden" name="annotationContent" :value="$store.claimState.annotationContent">
        </div>
      </form>
    </div>
</div>

<script>
document.body.addEventListener("htmx:afterRequest", function (event) {
  const requestURL = event.detail.xhr.responseURL;
  if (!requestURL.includes("/toggle_flag/")) return;

  const button = event.detail.elt;
  const svg = button.querySelector("svg.flagIcon");
  const path = svg?.querySelector(".flagPath");

  try {
    const data = JSON.parse(event.detail.xhr.responseText);
    if (path) {
      path.style.fill = data.flagged ? "red" : "none";
    }
  } catch (err) {
    console.error("Failed to parse response or update flag:", err);
  }
});

document.body.addEventListener('htmx:afterSwap', (e) => {
  const marker = e.target.querySelector('.claim-loaded-marker');
  if (marker) {
    const claimID = marker.getAttribute('data-claim-id');
    const patientName = marker.getAttribute('data-patient-name');
    Alpine.store('claimState').selectedClaimID = parseInt(claimID);
    Alpine.store('claimState').selectedPatientName = patientName;
    document.querySelectorAll(`tr[data-claim-id]`).forEach((row) =>{
        row.classList.remove("bg-blue-100")
        row.classList.add("bg-white")
      });

      const row = document.querySelector(`tr[data-claim-id="${claimID}"]`);
      if(row){
        row.classList.remove("bg-white")
        row.classList.toggle("bg-blue-100")
      }
  }
});

document.body.addEventListener('htmx:beforeRequest', (e) => {
  const target = e.detail.elt;
  if (target.matches('input[name="search"], form.search-form')) {
    Alpine.store('claimState').selectedClaimID = null;
    Alpine.store('claimState').selectedPatientName = '';
    const detailPanel = document.querySelector('#detail_response');
    if (detailPanel) detailPanel.innerHTML = '';
  }
});
</script>
