{% extends "core/base.html" %}

{% block content %}
<div 
    hx-get="/navbar/"
    hx-trigger="load"
    hx-swap="innerHTML"
    id="navbar_container"
    >
</div>

<div 
    hx-get="/get_annotation/"
    hx-trigger="load"
    hx-swap="innerHTML"
    id="response_annotation"
    hx-on:error="window.location.href='/'"
    ></div>

<div
    hx-get="/back_button/"
    hx-trigger="load"
    hx-swap="innerHTML"
    id="response_back_button"
    hx-on:error="window.location.href='/'"
    ></div>
{% endblock %}
