<!DOCTYPE html>
<html lang="en">
    <head>
        <script>
            document.addEventListener('alpine:init', () => {
                Alpine.store('claimState', {
                    selectedClaimID: null,
                    selectedPatientName: null,
                    annotationContent: '',
                    noteContent: '',
                    annotationID: null,
                    selectedEmployeeID: {{ employee_id|default:"null" }},
                });
            });
        </script>

        <meta charset="UTF-8">
        <title>{% block title %}New Starting App{% endblock %}</title>
        <script src="https://cdn.jsdelivr.net/npm/htmx.org@2.0.6/dist/htmx.min.js" integrity="sha384-Akqfrbj/HpNVo8k11SXBb6TlBWmXXlYQrCSqEWmyKJe+hDm3Z/B2WVG4smwBkRVm" crossorigin="anonymous"></script>
        <script defer src="https://cdn.jsdelivr.net/npm/alpinejs@3.14.8/dist/cdn.min.js"></script>
        {% load static %}
        <link rel="stylesheet" href="{% static 'css/output.css' %}">
    </head>
    <body class="bg-gray-100 p4">
        {% block content %}{% endblock %}
    </body>
</html>