<nav class="bg-white border-b px-4 py-2 flex items-center justify-between">

  <div class="text-xl font-bold text-gray-800">ERISA Challenge App</div>

    {% if request.session.employee_id %}
    <div class="flex gap-4 items-center">
      <a href="/claim_list/" class="text-gray-600 hover:text-blue-600">View Claims</a>
      {% if request.session.employee_type == 'Admin' %}
        <a href="/register/" class="text-gray-600 hover:text-blue-600">Add Employee</a>
        <a href="/admin_dashboard/" class="text-gray-600 hover:text-blue-600">Dashboard</a>
      {% endif %}
      </div>
        <div class="flex item-center gap-4">
          {% if show %}
            <input
              type="text"
              placeholder="Search..."
              name="search"
              hx-get="/load_claim_list"
              hx-target="#response_claim"
              hx-trigger="keyup change delay:300ms"
              hx-push-url="false"
              hx-params="*"
              class="pl-4 pr-10 py-1 rounded-full border border-gray-300 focus:outline-none focus:ring-2 focus:ring-blue-500"
            />
          {% endif %}   
          {% if request.session.employee_name %}<span>{{request.session.employee_name}}</span>{% endif %}
          <a href="/employee_logout/" class="text-gray-600 hover:text-red-600 border-2 border-black rounded">Logout</a>
        </div>
    {% else %}
    <div class="flex items-center gap-4">
      <a href="" class="text-gray-600 hover:text-green-600 border-2 border-black">Login</a>
    </div>
    {% endif %}
</nav>
