<nav class="bg-white border-b px-4 py-2 flex items-center justify-between">

  <div class="text-xl font-bold text-gray-800">ERISA Challenge App</div>

    {% if request.session.employee_id %}
      <a href="/claim_list/" class="text-gray-600 hover:text-blue-600">Dashboard</a>
        <div class="relative">
    <input
      type="text"
      placeholder="Search..."
      name="search"
      hx-get="/load_claim_list"
      hx-target="#response_claim"
      hx-trigger="keyup change delay:300ms"
      hx-push-url="false"
      hx-params="*"
      class="pl-4 pr-10 py-1 rounded-full border border-gray-300 focus:outline-none focus:ring-2 focus:ring-blue-500"
    />
  </div>
      <a href="/employee_logout/" class="text-gray-600 hover:text-red-600 border-2 border-black">Logout</a>
    {% else %}
      <a href="" class="text-gray-600 hover:text-green-600 border-2 border-black">Login</a>
    {% endif %}
</nav>
